<!DOCTYPE html>
<html lang="vi" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main-layout}">
<body>
<section layout:fragment="content" class="content-stack">
    <div class="page-heading">
        <div>
            <h1>Dang ky tu van</h1>
            <p>Bo phan hoc vu se lien he de tu van lo trinh phu hop cho hoc vien.</p>
        </div>
    </div>

    <article class="info-card">
        <p>Kenh tiep nhan tu van: 0909 123 456</p>
        <p>Email: advisory@brightgate.edu.vn</p>
        <p>Khung gio ho tro: 08:00 - 20:00, Thu hai den Chu nhat.</p>
    </article>
</section>
</body>
</html>
